@using System.Linq;
@model IEnumerable<EventListItemViewModel>

<ul class="list-group">
    @foreach (var eventItem in this.Model) {
        <li class="list-group-item">
            @if (eventItem.ShowVideoCount)
            {
                <span class="badge">@eventItem.VideoCount videos</span>
            }
            <a href="@eventItem.Url">@eventItem.Name</a>
        </li>    
    }
</ul>