<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    Submit Corrections
                </h1>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> Your corrections have been submitted!
                </div>
                <p>
                    Thank you for submitting corrections.  Your changes will be reviewed by a moderator for content and correctness before being applied.
                </p>
                <p>
                    Need an idea of what to do now?  You may return to the <a href="@this.Model.VideoUrl">video</a>, go <a href="/">home</a>, or <a asp-controller="Search" asp-action="Videos">search</a> for a new video.
                </p>
            </div>
        </div>
    </div>
</div>