@inject IOptions<AppSettings> AppSettings
@using System.Linq;
@model VideoModifyViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    Submit Corrections
                </h1>
            </div>
            <div class="panel-body">
                <p>
                    Submit corrections for the video.  Once your corrections have been submitted, they will be
                    reviewed by a moderator for content and accuracy prior to being updated accordingly.
                </p>
                <div class="row">
                    <form role="form" method="post" action="@this.Model.PostbackUrl" id="addform">
                        @Html.Partial("ModifyVideo", this.Model)
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/js/inlinedancersearch.js"></script>
    <script src="/js/inlineeventsearch.js"></script>
}
