@model DancerSearchResultsViewModel
@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    Dancer Search
                </h1>
            </div>
            <div class="panel-body">
                <p>Search for a dancer:</p>
                <form class="form-horizontal" role="form" method="get" action="" id="searchform">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="query" id="dancerQuery" value="@this.Model.Query">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div id="dancerSearchResults">
                    @if (this.Model.ShowResults)
                    {
                        @Html.Partial("DancerSearchResults", this.Model)
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function() {
            var delay = 250; // 250 millisecond delay
            var dancerTimer;
            var dancerJqxhr;
            
            function requestDancerData()
            {
                searchForDancer($("#dancerQuery").val(), 0);
            };
            
            $("#dancerQuery").on(
                "input",
                function() {
                    clearTimeout(dancerTimer);
                    dancerTimer = setTimeout(requestDancerData, delay);
        
                    // abort any previous request which is in progress
                    if (dancerJqxhr)
                    {
                        dancerJqxhr.abort();
                        dancerJqxhr = null;
                    }
                }
            );
                        
            $("#dancerSearchResults").on(
                "click",
                ".pagingLink",
                function(evt) {
                    var link = $(evt.target);
                    var query = link.attr("data-query");
                    var start = link.attr("data-start");
                    searchForDancer(query, start);
                }
            );
            
            function searchForDancer(query, start)
            {
                dancerJqxhr = $.ajax({
                    method: "GET",
                    url: "/Search/DancerSearchResults",
                    data: { query: query, start: start }
                });
                
                dancerJqxhr.done(
                    function(data) {
                        $("#dancerSearchResults").html(data);
                    });
            }
        });
    </script>
}