@model DancerSearchResultsViewModel
@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>
                Dancer Search
            </h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Search for a dancer:</p>
        <form class="form-horizontal" role="form" method="get" action="" id="searchform">
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" id="query" value="@this.Model.Query">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="results">
        @if (this.Model.ShowResults)
        {
            @Html.Partial("DancerSearchResults", this.Model)
        }
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            var timer;
            var delay = 250; // 250 millisecond delay
            var jqxhr;
            
            function requestData()
            {
                jqxhr = $.ajax({
                    method: "GET",
                    url: "/Search/DancerSearchResults",
                    data: { query: $("#query").val() }
                });
                
                jqxhr.done(
                    function(data) {
                        $("#results").html(data);
                    });
            };
                        
            $("#query").on(
                "input",
                function() {
                    clearTimeout(timer);
                    timer = setTimeout(requestData, delay);

                    // abort any previous request which is in progress
                    if (jqxhr)
                    {
                        jqxhr.abort();
                        jqxhr = null;
                    }
                }
            );
            
            $("#searchform").submit(
                function() {
                    // prevent future requests and abort any previous request
                    clearTimeout(timer);
                    
                    if (jqxhr)
                    {
                        jqxhr.abort();
                        jqxhr = null;
                    }
                }
            );
        });
    </script>
}