@model DancerViewModel
@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    Dancer - @this.Model.Title
                </h1>
            </div>
            <div class="panel-body">
                <h2 class="h4">Videos</h2>
                @Html.Partial("VideoListGroup", this.Model.Videos)
            </div>
        </div>
    </div>
</div>
