@model DancerViewModel
@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Dancer - @this.Model.Title        
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Videos</h3>
        @Html.Partial("VideoListGroup", this.Model.Videos)
    </div>
</div>
