@model IndexViewModel
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Would you like to contribute to the set of videos on this site?
                <a href="@this.Model.AddVideoUrl">
                    Add a video <span class="glyphicon glyphicon-cloud-upload"> </span>
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recently Added Videos</strong>
            </div>
            @Html.Partial("VideoListGroup", this.Model.Videos)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recent Events</strong>
            </div>
            @Html.Partial("EventListGroup", this.Model.Events)
        </div>
    </div>
</div>
