@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to WCS Videos!</h2>
        <h3>Trending Videos:</h3>
        <ul>
            @foreach (var video in this.Model.Videos) {
                <li><a href="@video.Url">@video.Title</a></li>    
            }
        </ul>
    </div>
</div>
