@inject IOptions<AppSettings> AppSettings
@model IndexViewModel
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Welcome to @AppSettings.Options.SiteTitle!</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Welcome to @AppSettings.Options.SiteTitle where you can find all of your favorite WCS videos.  Search for a video by dancer, event, or title, or just browse through the recently added videos for some dance inspiration!
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Recently Added Videos
            </div>
            @Html.Partial("VideoListGroup", this.Model.Videos)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Recent Events
            </div>
            @Html.Partial("EventListGroup", this.Model.Events)
        </div>
    </div>
</div>
