@model IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h3>Welcome to WCS Videos!
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Trending Videos
            </div>
            @Html.Partial("VideoListGroup", this.Model.Videos)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">

            <div class="panel-body">
                Welcome to WCS Videos where you can find all of your favorite WCS videos.  Search for a video by dancer, event, or title, or just browse through trending or new videos for some dance inspiration!
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Recent Events
            </div>
            @Html.Partial("EventListGroup", this.Model.Events)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body">
                Search for your favorite videos!
            </div>
        </div>
    </div>
</div>
