@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2>
            @this.Model.Title
        </h2>
        <iframe title="YouTube video player" width="480" height="390" src="@this.Model.EmbedUrl" frameborder=0 allowfullscreen></iframe>
        <p>
            Watch video at <a href=@this.Model.ExternalUrl>@this.Model.ProviderName</a>
        </p>
        @if (this.Model.Dancers.Count > 0) {
            <p>Dancers in this video: 
            @foreach (var dancer in this.Model.Dancers) {
                <a href=@dancer.Url>@dancer.DisplayName</a>
            }
            </p>
        }
    </div>
</div>
